<div style="color:#ffffff;padding:0.5em;text-align:left;
background: #030a12 linear-gradient(270deg, #08182b 7%, #174379 48%, #08182b 100%);

box-shadow:rgba(0, 0, 0, 0.35) 0px -33px 8px -28px inset;">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8" style="text-align: center;xmin-height:50px">
                <br><br>
                <strong>Aegis is Moving to a New Home</strong><br><br>
                This website will remain operational until end of September 2023.<br>
                After that, it will be taken offline.<br><br>
                You can reach the new documentation at
                <a href="https://vsecm.com">VMware Secrets Manager</a> website.<br><br>
                You can always get the older versions of the documentation
                from the archived <a href="https://github.com/shieldworks/aegis-web">Aegis
                documentation GitHub repository</a>.
                <br><br>
                <br><br>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>


